{% extends 'core/base.html' %}

{% block title %}Acervo - Starlit Chapters{% endblock %}

{% block extra_head %}
<script src="https://cdn.tailwindcss.com"></script>
{% endblock %}

{% block body_class %}class="bg-slate-900 text-gray-100 min-h-screen"{% endblock %}

{% block content %}
    <main class="container mx-auto mt-10 px-4 text-center">
        <h2 class="text-3xl font-bold mb-4">Bem-vinda ao seu Diário de Leitura</h2>
        <p class="text-gray-400 text-lg">Aqui você poderá cadastrar seus livros, tropos e surtos literários.</p>
    </main>
{% endblock %}
